<mat-card class="example-card">
  <mat-card-title>Bienvenido a vuelos el mas alla</mat-card-title>
  <mat-card-subtitle>su tiquet</mat-card-subtitle>
  <mat-card-content>
    <p>Ubicación: {{location}}</p>
    <p>LLegada: {{wayOut}}</p>
    <p>Salida: {{arrival}}</p>
    <p>Personas: {{person}}</p>
    <p>Gracias por volar con nosotros!!!</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)= link()>LIKE</button>
    <button mat-button (click)= link() >COMPARTIR</button>
  </mat-card-actions>
  <button (click)="closed()" mat-stroked-button color="primary">Cerrar</button>
  <img mat-card-image [src]="image | noImage">
</mat-card>
