<mat-form-field class="mat-form" appearance="fill">
  <mat-label>Buscar:</mat-label>
  <input matInput [(ngModel)]="userSearch" placeholder="Ingrese nombre de usuario">
</mat-form-field>
<button style="margin-left: 6px" mat-button mat-raised-button color="accent"
        (click)="loadMethodAstronaut()">Recargar
</button>
<app-alerts *ngIf="showMessageAstronaut" [message]="message"></app-alerts>
<button *ngIf="showButtonSearchUser" style="margin-left: 6px" mat-button mat-raised-button color="accent"
        (click)="searchMethod(userSearch)">Buscar
</button>
<mat-selection-list class="list" [multiple]="false">
  <mat-label class="title">Lista de Astronautas:</mat-label>
  <mat-list-option *ngFor="let user of usersData">
    <button mat-button (click)="itemMethod(user)">{{user.name | uppercase}}</button>
  </mat-list-option>
</mat-selection-list>
<mat-form-field class="mat-form" appearance="fill">
  <mat-label>Buscar y editar:</mat-label>
  <input matInput [(ngModel)]="shipSearch" placeholder="Ingrese nombre de la nave">
</mat-form-field>
<app-alerts *ngIf="showMessageShip" [message]="message"></app-alerts>
<button *ngIf="showButtonSearch" style="margin-left: 6px" mat-button mat-raised-button color="accent"
        (click)="searchMethodShip(shipSearch)">Buscar
</button>
<button *ngIf="showButtonSearch"  style="margin-left: 6px" mat-button mat-raised-button color="accent"
        (click)="createMethodShip(shipSearch)">Crear
</button>
<button  style="margin-left: 6px" mat-button mat-raised-button color="accent"
        (click)="loadMethodShip()">Recargar
</button>
<mat-selection-list class="list" [multiple]="false">
  <mat-label class="title">Lista de Naves</mat-label>
  <mat-list style="display: flex" *ngFor="let ship of shipsCopy, let i = index">
    <mat-list-item>
      {{ship.name | uppercase}}
      <button *ngIf="showButtonSearch" (click)="editShip(shipSearch, i+1)" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="showButtonSearch"  (click)="deletedShip(i)" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-selection-list>



