.body {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #98989824;
}
.login {
  width: 100%;
  max-width: 330px;
  text-align: center;
}
.moreWidth {
  width: 80%;
}
.button {
  height: 50%;
}
.spinner {
  margin: 0 auto;
}
