<div class="body">
  <div class="login">
    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="sendForm()">
      <img src="">
      <h1>Login</h1>
      <mat-form-field class="moreWidth" appearance="fill">
        <mat-label>Seleccione:</mat-label>
        <mat-select formControlName="userType" class="moreWidth" disableRipple>
          <mat-option value="astronaut">Astronauta</mat-option>
          <mat-option value="passenger">Pasajero</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="moreWidth" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput autocomplete="off" formControlName="user">
      </mat-form-field>
      <mat-form-field class="moreWidth" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput autocomplete="off" formControlName="password">
      </mat-form-field>
      <button [disabled]="form.invalid" class="moreWidth button" type="submit" mat-raised-button color="primary">
        Ingresar
      </button>
    </form>
  </div>
</div>
