/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@include mat-core();

$mat-primary-scheme: (
  100: #c5cae9,
  500: #61699a,
  700: #303f9f,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: #ffffff,
    700: #ffffff,
  ),
);
$mat-accent-scheme: (
  100: #ff80ab,
  500: #ff4081,
  700: #f50057,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: rgba(0, 0, 0, 0.87),
    700: #ffffff,
  ),
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

.light-mode {
  @include angular-material-theme($app-light-theme);
}

$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

.dark-mode {
  @include angular-material-theme($app-dark-theme);
  background-color: #333;
  color: whitesmoke;
}
html {
  overflow-x: hidden;
  @media screen and(min-width: 768px) {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
html {
  overflow-x: hidden;
  overflow-y: visible;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Ne", sans-serif;
}
body {
  //overflow-x: hidden;
  //overflow-y: hidden;
  height: 100vh;
  @media screen and(min-width: 360px) {
    overflow-x: hidden;
    overflow-y: visible;
  }
}


.example-spacer {
  flex: 1 1 auto;
}
.flex-toggle {
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
