<mat-toolbar color="primary">
  <span>{{infoType}}</span>
  <span class="example-spacer"></span>
  <!--con un pipe cambiar el mensaje-->
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span style="font-size: 16px">Usuario: {{userService.setCurrentUser}}</span>
  <button (click)="logout()" mat-icon-button class="example-icon favorite-icon" aria-label="Logout">
    <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
  </button>
</mat-toolbar>
